#content {
	width: 1200px;
	padding-top: 0px;
	overflow: hidden;
	zoom: 1;
	height: 675px;
	margin-left: 0px;
}
.hotPic{
	width: 1200px;
	height: 675px;
	position: absolute;
	overflow: hidden;
}
.hotPic .num{
	position: absolute;
	z-index: 10;
	width: 200px;
	height: 30px;
	text-align: left;
	left: 10px;
	top: 20px;
}
.hotPic .num span{
	width: 35px;
	height: 28px;
	display: inline-block;
	line-height: 20px;
	margin: 5px 2px 0;
	cursor: pointer;
	left: 150px;
	border-style: solid;
	border-width: thin;
	border-color: black;
	color: #100000;
	text-align: center;
}
.hotPic .num span.cur{ background:#54BFFF;color:#fff;}
.hotPic .pic{ position:relative; z-index:5;}
.hotPic .pic li{
	position: absolute;
	display: none;
	left: 3px;
	top: 2px;
}
.hotPic .pic li img{
	width: 1200px;
	height: 675Px;
	display: block;
}